# Dataset (no subir imágenes)
dataset/

# Resultados pesados
results/*.npy
results/*.png

# Modelos entrenados
src/models/*.keras
src/models/*.h5
src/models/*.joblib

# Basura de Python / Colab
__pycache__/
*.pyc
.ipynb_checkpoints/
